<%- include("header") -%>
    <div class="admin-content-container">
        <h2 class="admin-heading">Add New Brand</h2>
        <div class="row">
            <!-- Form -->
            <form id="createBrand" class="add-post-form col-md-6" method="POST"
                  autocomplete="off">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="brand_name" class="form-control brand_name" placeholder="Brand Name"/>
                </div>
                <input type="submit" name="save" class="btn add-new" value="Submit"/></button>
            </form>
            <!-- /Form -->
        </div>
    </div>
    <%- include("footer") -%>
            