<%- include("header") %>
        <div class="admin-content-container">
            <h3 class="admin-heading">update brand</h3>
                    <div class="row">
                        <!-- Form -->
                        <form id="updateBrand" class="add-post-form col-md-6" method ="POST">
                                <input type="hidden" name="brand_id" class ="brand_id" value="<%- product_brand[0]._id %>" />
                            <div class="form-group">
                                <label>Brand Title</label>
                                <input type="text" name="brand_name" class="form-control brand_name" value="<%- product_brand[0].brand_name %>"  placeholder="Brand Name" required />
                            </div>
                            <input type="submit" name="submit" class="btn add-new" value="Update" />
                        </form>
                        <!-- /Form -->
                    </div>
        </div>
<%- include("footer") %>
          
   

