<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Student Records</title>
  <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Students Record With Filters</h1>
        </div>
        <div id="menu">
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="add">Add</a>
                </li>
            <!--    <li>
                    <a href="update.php">Update</a>
                </li>
                <li>
                    <a href="delete.php">Delete</a>
                </li><li>
                    <a href="delete.php">Render</a>
                </li>
				<li>
                    <a href="shortlisted">Shortlisted</a>
                </li> -->
            </ul>
        </div>
